.sidenav {
    height: 100%; 
    width: 12rem; 
    position: fixed; 
    z-index: 1; 
    top: 4rem; 
    left: 1rem;
    overflow-x: hidden; 
    padding-top: 1.25rem;
}

.main-content{
    margin-left: 12rem; 
    padding: 0 0.625rem;
}

.card-img-top{
    height : 16.25rem;
}
